[submodule "apps/vanilla-piveau-hub-ui"]
	path = apps/vanilla-piveau-hub-ui
	url = https://gitlab.fokus.fraunhofer.de/piveau/hub/piveau-hub-ui.git
	branch = develop
[submodule "apps/vanilla-piveau-hub-ui-2"]
	path = apps/vanilla-piveau-hub-ui-2
	url = https://gitlab.fokus.fraunhofer.de/piveau/hub/piveau-hub-ui.git
	branch = develop
