@piveau:registry=https://paca.fokus.fraunhofer.de/repository/npm-hosted/
@deu:registry=https://paca.fokus.fraunhofer.de/repository/npm-group/

########### Verdaccio: ###########
#registry=http://localhost:4873/
#@piveau:registry=http://localhost:4873/
#@deu:registry=http://localhost:4873/
