// Breakpoints
$mobile: 767.98px;
$laptop: 1199.98px;

// Typography
$font-family: Open Sans,sans-serif !important;

$font-size-main:             16px;
$font-size-navbar-primary:   1.125rem;
$font-size-navbar-secondary: 1.125rem;

// Colors
$primary:          #6610f2;
$primary-lighter:  #062fc5;
$primary-lightest: #DBE6FE;
$highlight:        #FFCC00;

// Animation
$transition-color:    background-color 0.3s ease-in-out;
$transition-slide-in: transform .2s ease-in-out .13333s, opacity .2s ease-in-out .13333s,-webkit-transform .2s ease-in-out .13333s;

// Misc
$border-radius:    1.875rem;
$border-radius-sm: 4px;
 