//
// EC restyle settings
//
@use "../../node_modules/@ecl/preset-ec/dist/styles/ecl-ec.css";

body {
  font: normal normal 400 1rem/1.5rem arial,sans-serif;

  --dsd-right-column-width: 36%;
}

.show-more {
  padding-left: 0 !important;
  font-weight: initial;
}

body .content.container-fluid {
  @extend .ecl-container;
}

@import "./components-ec-style/dataset_details";
@import "./components-ec-style/data_info_box";
@import "./components-ec-style/dataset_details_similar_datasets";
@import "./components-ec-style/datasets";
@import "./components-ec-style/distributions";
@import "./components-ec-style/catalogue_details";
@import "./components-ec-style/pagination";

