//
// EC restyle settings
//

body {
  font: normal normal 400 1rem/1.5rem arial,sans-serif;
}

// dataset details

.dsd-header-info, .dsd-header-title, .dsd-keywords {
  margin-left: 0;
  margin-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}

.dsd-header-title > h1 {
  font-weight: bold !important;
}

.sub-navigation {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.dsd-nav {
  flex-wrap: nowrap !important;
}

.dsd-nav-links {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.dsd-nav-button {
  margin-right: 20px !important;
}

.dsd-content .sub-navigation {
  box-shadow: none;
}

.dsd-dataset {
  display: block;
}

@media screen and (max-width: 991px) { // less than lg
  .dsd-nav-button button {
    min-width: 200px !important;
    margin-bottom: 8px !important;
  }
}

@media screen and (min-width: 992px) { // at least lg

  .dsd-nav-links {
    display: flex;
    flex: 0 0 30%;
    ul {
      border-bottom: 1px solid #ccc;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .dsd-dataset {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: auto 1fr auto auto;
    grid-auto-flow: row dense;
  }

  .dsd-description {
    order: 1;
    grid-row: span 2;
  }

  .dsd-description-content {
    margin-left: 0 !important;
    padding-right: 40px !important;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .dsd-properties {
    order: 2;
    margin-top: 1.5rem !important;
    .heading {
      display: none !important;
    }
    .additional-information {
      margin-left: 0 !important;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .dsd-banners {
    order: 3;
  }

  .dsd-features {
    order: 4;
    grid-column: span 2;
    margin-bottom: 3rem;
  }

  .dsd-distributions {
    order: 5;
    grid-column: span 2;
  }
}

.dsd-banners {

}

.dsd-description {

}

.dsd-distributions {

}

.dsd-features {

}

.dsd-properties {

}

