/* Theme File for customization of Piveau */

/* 
Dataset Details 

This page contains six different Vue.js components. (From top to bottom)

- Datasetdetailsnavigation
- Datasetdetailsheader
- Datasetdetailsdataset
- Distributions
- Datasetdetailsfeatures (following are sub components)
    - Keywords
    - Categories
    - Subject
    - Documentation
    - Visualisations
    - Data Services
    - Is Used By
    - Related Resources
    - Dataset Extent

*/

@import "dataset_details_categories";
@import "datasets_catalogs";

/* ############### Datasetdetails Global ############### START ###############*/

/* Could put something like Distribution, Documentation, (Visualisations?) Description and blue buttons */

/* ############### Datasetdetails Global ############### END ###############*/

/* ############### Datasetdetailsnavigation ############### START ###############*/

/*Main wrapper for the navigation part*/
.sub-navigation {
    ul {
        /*Contains <li> Tags of "Datasetdetailsnavigationpages.vue" & "Datasetdetailsnavigationlinks.vue"*/
    }

    .dropdown-menu {
        /*Contains <a> Tags - gets triggered when a certain <li> Element gets clicked*/
    }
}

/* ############### Datasetdetailsnavigation ###############  END  ###############*/

/* ############### DatasetdetailsHeader ###############     START ###############*/

/*Main wrapper for header of the dataset*/
.dsd-header {
    .dsd-header-title {
        .dsd-header-catalogue {
            .dsd-title-tag {
                /*Description Tag - normally "Dataset" Is this outdated? TODO*/
            }

            img {
                /* Displays the flag of the origin of the catalogue */
            }
        }

        h1 {
            /*Headline for the Dataset*/
        }

        .dsd-title-tag {
            /*Description Tag - normally "Dataset"*/
        }

        .dsd-header-info {
            /*Conatins everything underneath the header (e.g. Catalog/ Publisher/ Last update ) */
        }
    }

    .dropdown-menu {
        /*Contains <a> Tags - gets triggered when a certain <li> Element gets clicked*/
    }
}

/* ############### DatasetdetailsHeader ###############      END  ###############*/

/* ############### Datasetdetailsdataset ###############    START ###############*/

/*Main wrapper for the whole dataset*/
.dsd-dataset {
    .dsd-banners {
        /*Contains Text/ Icons - normally used to tell users thet the dataset got machine translated */
    }

    .dataset-description {
        /*contains paragraphs that hold the description of the Dataset*/
    }
}

/* ############### Datasetdetailsdataset ###############     END  ###############*/

/* ############### Distributions ###############    START         ###############*/

/*Main wrapper for the whole dataset*/
.dsd-distributions {
    .dsd-item {

        /* Confusing, maybe change the classname TODO */
        button {
            /* "Download All" Button in the header of the DSD-Distributions */
        }

        h2 {
            /* Header of distributions */
        }

    }

    /* Wrapper for the listed Distributions */
    .distributions {
        .distributions__item {
            /* Wrapper for one distribution item */
            .distribution-format {
                /* Icon with info about the format of the distribution */
            }

            .distribution-details {
                /* Wrapper for the details of one distribution */
                h3 {
                    /* Header of Distribution */
                }
                p {
                    /* Subtitle of the distribution */
                }

                .distribution-details-table {
                    /* Wrapper for distribution details */
                    tr {
                        td:first-child {
                            /* First column */
                            span {
                                /* Title of distribution detail */
                            }
                        }
                        td + td {
                            /* Second column */
                            a {
                                /* Link of distribution detail value */
                            }
                        }
                    }
                }
                .distribution-details-show-more {
                    float: right; /* Makes only the button clickable and not the full width below the table */
                }
            }

            .distribution-actions {
                /* Wrapper of distribution actions/buttons */
                .distribution-action {
                    /* Wrapper of button */
                    .dsd-action-button {
                        /* Button Download and Linked Data */
                    }
                    .dropdownMenu {
                        /* Button dropdown menu */
                        .dropdown-item {
                            /* Button dropdown item */
                            a {
                                color: var(--dark); /* Maybe define global */
                                &:hover {
                                    color: #000c39; /* Maybe define global */
                                }
                            }
                        }
                    }
                }
            }

        }

        .distributions__actions {
            /* Wrapper of show more distributions buttons */
            .distributions-show-more-button:nth-child(-n+2) {
                /* First two show more buttons */
                // background-color: #000c39; löschen?
            }
            .distributions-show-more-button:last-child {
                /* Last show more button */
            }
        }
    }
}

/* ############### Distributions ###############     END           ###############*/

/* ############### Datasetdetailsfeatures ###############    START         ###############*/

.dsd-features {
    /* Container of everything below distributions */
    .heading {
        /* Wrapper of headings */
        .dsd-feature-header-arrow-container {
        /* Wrapper of arrow icons */
            .dsd-feature-header-arrow {
                /* Arrow */
            }
        }
        .dsd-feature-title {
            /* Header title */
        }
    }
}

/* ############### Keywords + Categories ###############    START         ###############*/

/* Make general changes which should affect Keywords and Categories keyword items here */
.keywords__item {
    /* Wrapper of Keywords and Categories items */
    span {
        /* Keywords and Categories item */
        small {
            /* Text in Keywords and Categories item */
            // color: #fff;
        }
    }
}

/* ############### Keywords + Categories ###############    END         ###############*/

/* ############### Keywords ###############    START         ###############*/

.dsd-keywords-feature {
    /* Wrapper of Keywords */
    .keywords__item {
        /* Wrapper of Keywords items */
        span {
            /* Keywords item */
            small {
                /* Text in Keywords item */
                color: #fff;
            }
        }
    }
}

/* ############### Keywords ###############    END         ###############*/

/* ############### Categories ###############    START         ###############*/

.dsd-categories-feature {
    /* Wrapper of Keywords */
    .keywords__item {
        /* Wrapper of Keywords items */
        span {
            /* Keywords item */
            small {
                /* Text in Keywords item */
                color: #fff;
            }
        }
    }
}

/* ############### Categories ###############    END         ###############*/

/* ############### Subject ###############    START         ###############*/

.dsd-subject-feature {
    /* Wrapper of Subject */
}

/* ############### Subject ###############    END         ###############*/

/* ############### Documentation ###############    START         ###############*/

.dsd-pages-feature {
    /* Wrapper of Documentation */
    ul {
        /* Wrapper of Documentation item container */
        li {
            /* Wrapper of item */
            .dsd-pages-item-format {
                /* Wrapper of format badge */
                div {
                    /* Format badge */
                    color: #fff;
                }
            }
            .dsd-pages-item-content {
                /* Wrapper of item content next to format badge */
                .dsd-pages-item-title {
                    /* Wrapper of title */
                    h3 {
                        /* Title */
                    }
                }
                .dsd-pages-item-description {
                    /* Wrapper of description */
                    span {
                        /* Wrapper of description */
                        small {
                            p {
                                /* Description */
                            }
                        }
                    }
                }
                .dsd-pages-button {
                    /* Wrapper of button area */
                    span {
                        /* Wrapper of access button */
                        .dsd-action-button {
                            /* Access button */
                        }
                    }
                }
            }
        }
    }
}

/* ############### Documentation ###############    END         ###############*/

/* ############### Visualisations ###############    START         ###############*/

.dsd-visualisations-feature {

}

/* ############### Visualisations ###############    END         ###############*/

/* ############### Data Services ###############    START         ###############*/

.dsd-data-services-feature {
    /* Wrapper of Data Services */
}

/* ############### Data Services ###############    END         ###############*/

/* ############### Is used by ###############    START         ###############*/

.dsd-is-used-by {
/* Wrapper of Is Used By */
}

/* ############### Is used by ###############    END         ###############*/



/* ############### Related Resources ###############    START         ###############*/

.dsd-relations-feature {
    /* Wrapper of Related Resources */
    ul {
        /* Wrapper of item list */
        li {
            /* Wrapper of item */
            a{
                /* Item String */
            }
        }
    }
}

/* ############### Dataset Extent ###############    START         ###############*/

.dsd-map-feature {
    /* Wrapper of Map */
    #mapid {
        /* Map */
    }
}

/* ############### Dataset Extent ###############    END         ###############*/

/* ############### Additional Information ###############    START         ###############*/

.dsd-properties {
    /* Wrapper of Additional Information (Header, Item Container, Show More Button) */
    .additional-information {
        /* Wrapper of Additional Information item container */
        table {
            background-color: var(--light);
            tr {
                td:first-child {
                    /* First column */
                    span {
                        /* Title of item */
                    }
                }
                td + td {
                    /* Second column and style for single row entry */
                    a {
                    }
                    div {
                        /* Multiple row entries */
                    }
                }
            }
        }
    }
    .show-more {
        /* Show more button (global component). Style changes affect only this single button */
    }
}

/* ############### Additional Information ###############    END         ###############*/

/* ############### Datasetdetailsfeatures ###############    END         ###############*/

/* ############### Datasetdetailsquality ###############    START         ###############*/

.dsd-quality-container {
    /* Wrapper of Quality Page */
    .dsd-quality-header {
        /* Header (Metadata Quality & Distribution Quality) */
    }
    .dsd-quality-description {
        /* Wrapper of description (Metadata Quality & Distribution Quality) */
        p {
            /* Description (Metadata Quality & Distribution Quality) */
        }
    }
    .dsd-quality-cards {
        /* Wrapper of quality cards */
        .dsd-quality-card {
            /* Wrapper of quality card */
            .dimension-card {
                /* Wrapper of quality card */
                .card-header {
                    /* Wrapper of header */
                    h3 {
                        /* Header */
                    }
                }
                .dsd-quality-card-list {
                    /* Wrapper of quality card list */
                    background-color: antiquewhite;
                    .dsd-quality-card-list-item {
                        /* Wrapper of card list item */
                    }
                }
            }
        }
    }
}

/* ############### Datasetdetailsquality ###############    END         ###############*/

/* ############### Annif Boxes ###############       START         ###############*/
.annifItems a{
    background-color:none;
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: none; 
        box-shadow: none;
        
    }
}
.annifItems select{
    border: none;
    outline: none;
    background-color: transparent;
}

.annifItems{
//  Misc
    background-color:rgba(235, 235, 235, 0.356);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
//  Transition config
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%);
    transition-duration: 280ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    transition-property: box-shadow background-color transform;
//  Font  config
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    &:hover{
        text-decoration: none; 
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        
    }
    
} 


#suggestedAnnifItemsTheme{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 1;
    .annifItems{
        opacity: 0;
        width: 110px;
    }
}
.annifButtonWrap{
margin: 0 0 1rem 0;
    .inactiveHandleBtn{
        background-color: rgba(255, 255, 255, 0.363);
        @extend .transitionDefinitionBezier;
            transition-property: background;
        
    }
}
.annifPlusIcon{
    svg{
        transform: rotate(0deg);
        transition-duration: 80ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0s;
        transition-property: transform;
    }
   
}
.fadeIn {
    animation: fadeLeft 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    margin-left: 0.5rem;  
    
}
  
  @keyframes fadeLeft {
    10%
     {
      margin-left: 5%;
      opacity: 0;
    }
  
    50%
     {
        margin-left: -5px;
        opacity: 0.2;
    }
  
    100%
     {
        margin-left: 0.5rem;
        opacity: 1;
    }
  
   
  }
/* ############### Annif Boxes ###############         END         ###############*/
/* ############### Prebuilt Animations ###############       START         ###############*/

.rotate45{
    transform: rotate(45deg) !important;
}
.greenBG{
    background-color:rgba(0, 235, 0, 0.2);
}
.transitionDefinitionBezier{
        transition-duration: 80ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0s;
}