@import "variables";

/***********************************
	LAYOUT & TYPOGRAPHY
***********************************/

#piveau-footer .container {
	max-width: 1340px !important;
}
#piveau-footer *:not(.far):not(.fas):not(.fab) {
  font-family: Helvetica,Arial,sans-serif;
}

/***********************************
BOTTOM FOOTER
***********************************/
#piveau-footer #footer_second {
  color: #ffffff;
  font-size: 14px;
  padding: 15px 0;
}
#piveau-footer #footer_second a {
  color: #ffffff;
}
#piveau-footer #footer_second ul.menu {
margin: 0;
}
#piveau-footer #footer_second ul.menu li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
#piveau-footer #footer_second ul.menu li:after {
  content: "\00a0|\00a0";
}
#piveau-footer #footer_second ul.menu li:last-of-type:after {
  content: "";
}