// import custom theme
@import 'bootstrap_theme';

// import full bootstrap framework
@import "~bootstrap/scss/bootstrap.scss";

// Import Piveau modules
@import "~@piveau/piveau-hub-ui-modules/dist/scss/main.scss";

///////////////// EC Restyling //
@import 'ec-style';
/////////////////////////////////

.mt-4 {
  margin-top: 30px !important;
}

.mb-4 {
  margin-bottom: 30px !important;
}

#navbar-toggle {
  margin-bottom: 0 !important;
}

