.pagination {
  .page-item {
    display: flex;
    min-width: 35px;
    max-height: 35px;

    .page-link {
      border: 0px solid #FFFFFF;

        &.page-button {
          min-width: 35px;
          max-height: 35px;
          border-radius: 50%;
        }

        &.material-icons {
          padding-left: 0;
          padding-right: 0;
          align-self: center;
          cursor: pointer;
        }
    }

    &.active {
      .page-link {
        color: #000000;
        background-color: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 50%;

        &.page-button {
          font-weight: bold;
        }
      }
    }
  }
}